@media only screen and (max-width: 500px) {
    .wrapper {
        width: 80% !important;
        min-width: 260px !important;
    }
}

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4vh 0 4vh 0;
  min-height: 92vh;
  width: 100vw;
  max-width: 100%;
}

.wrapper {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: max-content;
  width: 400px;
  border-radius: 3px;
  background-color: var(--color-secondary);
  padding: 40px 0;
}

.title {
    text-align: center;
    font-size: 40px;
    color: var(--color-text-bright);
}

.subtitle {
    color: var(--color-text-light);
}

.formWrapper {
    width: 70%;
    min-width: 240px;
}

.submit {
    margin-top: 0.25em;
    float: right;
}

.linkGroup {
    display: flex;
    flex-direction: column;
    float: left;
}
